<div class="container sps-footer">
    <div class="row">
        <hr/>
        <footer>
            <p>Copyright &copy; SubPoint Solutions @DateTime.Now.Year. Built with "@SConfig.Theme" theme.</p>
        </footer>
    </div>
</div>