@{
    var taggedSamples = SubPointSolutions.Docs.Code.Samples.m2Samples.SysAllSamples
                                                  .Where(s =>
                                                      s.Tags.Any(t => t.Name == "SampleDefinitionGroup" && t.Values.Any()))
                                                   .ToList();

    
   // only defs
    taggedSamples = taggedSamples.Where(s => s.ClassName.Contains("DefinitionTest"))
                                 .ToList();
    
    var samples = taggedSamples
                     //.GroupBy(s => s.Tags.First(t => t.Name == "SampleDefinitionGroup").Values.First())
                     .GroupBy(s => s.Tags.First(t => t.Name == "SampleDefinitionGroup").Values.First())
                     .ToList();

}

<style>
    .panel-body ul {
        padding-left:15px;
    }

</style>

@foreach (var sampleGroup in samples)
{
    var groupName = sampleGroup.Key.Replace("Definition", String.Empty) + "s";
    
    <div class="col-sm-4 col-md-4">
        <div class="panel panel-default ">
            <div class="panel-heading">
               @groupName
            </div> <div class="panel-body">
          
                @if (sampleGroup.Any())
                {
                    <ul>
                        @foreach (var sample in sampleGroup)
                        {
                            <li>
                                <a href="#">
                                    @(sample.Title)
                                </a>
                            </li>
                        }
                    </ul>
                }

            </div>
        </div>
    </div>
}
