.DS_Store

**/lib/core/metadata.js
**/lib/core/MetadataBlog.js

**/website/translated_docs
**/website/build/
**/website/yarn.lock
**/website/node_modules
**/website/i18n/*

**/translated_docs/
**/build/
*.log

**/node_modules
*.log


**/.tmp

**/build-*
**/.netlify/**
yarn.lock

.tmp
tmp

docs/assets/**