<section class="client-logo light-bg" id="clients">

    <div class="wrapper-sm-x">

        <div class="row">
            <div class="col-xs-12">
                <h2>Some happy companies from our <a href="https://www.yammer.com/spmeta2feedback">Yammer Network</a></h2>
                <p class="large">Our core foundation is recognized, trusted and helping  people all over the world</p>
            </div>
        </div>

    </div>
    <div class="container">
        <!-- Padding -->
        <div class="wrapper-sm">
            <div class="row grid-md text-center">

                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/kaspersky.com - logo.png">
                    
                </div>

                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/avanade.com - logo.png">
                    
                </div>

                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/bool.se - logo.png">
                    
                </div>


                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/atos.net - logo.png">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/health.nsw.gov.au - logo.png">
                    
                    
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/antaressolutions.com.au - logo.gif">
                    
                </div>
            </div>

            <div class="row grid-md text-center" style="margin-top: 20px;">

                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/humanservices.gov.au - logo-2.png">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/plumsail.com - logo.png">
                    
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/delegate.dk - logo.svg">
                </div>


                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/arvosys.ru - logo.png">
                    
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/ignia.com.au - logo.png">
                    
                    
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/tretton37.com - logo.png">
                </div>
            </div>
            <div class="row grid-md text-center" style="margin-top: 20px;">

                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/smsmt.com - logo.png">
                    
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/heluxsystems.com - logo.png">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/dclboston.com - logo.png">
                </div>


                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/isolutions.ch - logo.png">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/itransition.com - logo.svg">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/winvision.nl - logo.png">
                </div>

            </div>
            <div class="row grid-md text-center" style="margin-top: 20px;">
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/sparked.nl - logo.png">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/loqutus.be - logo.png">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/mwhglobal.com - logo.png">
                </div>


                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/nbnco.com.au - logo.png">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/soprasteria.com - logo.png">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/netflower.de - logo.png">
                </div>
            </div>

            <div class="row grid-md text-center" style="margin-top: 20px;">
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/nexplore.ch - logo.png">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/ot.ru - logo.png">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/raona.com - icon.png">
                </div>

                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/provokesolutions.com - logo.gif">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/rusal.com - logo.png">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/cibpoint.ru - logo.png">
                </div>
            </div>
        </div><!-- /End Wrapper -->
    </div>
</section>
