<section class="newsletter color-bg company-stat" id="newsletter">
    <div class="container">
        <div class="wrapper-sm wrapper-sm-x">
            <div class="row">
                <div class="col-sm-4 intro-content">
                    <div class="number">150+</div>
                    <div class="fact">companies</div>
                </div>
                <div class="col-sm-4 intro-content">
                    <div class="number">25+</div>
                    <div class="fact">countries</div>
                </div>
                <div class="col-sm-4 intro-content">
                    <div class="number">2000+</div>
                    <div class="fact">satisfied people</div>
                </div>
            </div>
        </div>
    </div>
</section>