<section class="client-logo light-bg" id="clients">

    <div class="container">
        <!-- Padding -->
        <div class="wrapper-sm">
            <div class="row grid-md text-center">

                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/winvision.nl - logo.png">
                </div>

                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/antaressolutions.com.au - logo.gif">
                </div>

                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/arvosys.ru - logo.png">
                </div>


                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/atos.net - logo.png">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/avanade.com - logo.png">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="/content/img/logo/bool.se - logo.png">
                </div>
            </div>

        </div><!-- /End Wrapper -->
    </div>
</section>
