<section class="client-logo light-bg" id="clients">
    <div class="container">
        <!-- Padding -->
        <div class="wrapper-sm">
            <div class="row grid-md text-center">

                @*<div class="col-md-2 col-sm-4">
                    <img width="200" src="http://subpointsolutions.com/wp-content/themes/sps-web/assert/img/companies/antares-icon.gif">
                </div>

                <div class="col-md-2 col-sm-4">
                    <img width="200" src="http://subpointsolutions.com/wp-content/themes/sps-web/assert/img/companies/plumsail-icon.png">
                </div>

                <div class="col-md-2 col-sm-4">
                    <img width="100" src="http://subpointsolutions.com/wp-content/themes/sps-web/assert/img/companies/atos-icon.png">
                </div>


                <div class="col-md-2 col-sm-4">
                    <img width="100" src="http://subpointsolutions.com/wp-content/themes/sps-web/assert/img/companies/tretton37-icon.png">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="100" src="http://subpointsolutions.com/wp-content/themes/sps-web/assert/img/companies/raona-icon.png">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="100" src="http://subpointsolutions.com/wp-content/themes/sps-web/assert/img/companies/cibpoint-icon.png">
                </div>*@
            </div>

            <div class="row grid-md text-center" style="margin-top: 20px;">

                @*<div class="col-md-2 col-sm-4">
                    <img width="200" src="http://www.arvosys.com/images/arvo_logo_large.png">
                </div>

                <div class="col-md-2 col-sm-4">
                    <img width="200" src="http://www.kaspersky.com/resources/img/kaspersky_logo.png">
                </div>

                <div class="col-md-2 col-sm-4">
                    <img width="100" src="http://www.winvision.nl/_layouts/Images/Winvision.Metro/WinvisionLogo.png">
                </div>


                <div class="col-md-2 col-sm-4">
                    <img width="80" src="http://www.gob.de/media/raw/gob_logo.jpg">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="100" src="http://bool.se/wp-content/themes/Bool2013/images/bool-logo.png">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="100" src="https://media.licdn.com/media/p/5/000/25a/3ed/1da6cd0.png">
                </div>*@
            </div>
            <div class="row grid-md text-center" style="margin-top: 20px;">

                @*<div class="col-md-2 col-sm-4">
                    <img width="200" src="https://pbs.twimg.com/profile_images/585857100867215362/OIcE0QM7_400x400.png">
                </div>

                <div class="col-md-2 col-sm-4">
                    <img width="200" src="http://www.mwhglobal.com/wp-content/uploads/2015/09/mwh-logo-1-175x100.png">
                </div>

                <div class="col-md-2 col-sm-4">
                    <img width="100" src="//www.nbnco.com.au/etc/designs/nbnco2/images/nbnlogo.png">
                </div>


                <div class="col-md-2 col-sm-4">
                    <img width="200" src="http://subpointsolutions.com/wp-content/themes/sps-web/assert/img/companies/ignia-icon.png">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="http://www.itransition.com/sites/all/themes/itransition/images/Logo_Itransition.svg">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="60" src="https://scontent.fbne1-1.fna.fbcdn.net/hprofile-ash2/v/t1.0-1/p160x160/558779_443129579057999_1909314258_n.jpg?oh=aeedb2cb11515f3c901acc09367a1608&amp;oe=56D6476B">
                </div>*@
            </div>
            <div class="row grid-md text-center" style="
                                                                              margin-top: 20px;
                                                                          ">

                @*<div class="col-md-2 col-sm-4">
                    <img width="200" src="http://delegate.dk/media/1024/logo_01.svg">
                </div>

                <div class="col-md-2 col-sm-4">
                    <img width="200" src="http://ndsas.de/images/ndsa_logo.png">
                </div>

                <div class="col-md-2 col-sm-4">
                    <img width="100" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Volvo_logo.svg/2000px-Volvo_logo.svg.png">
                </div>


                <div class="col-md-2 col-sm-4">
                    <img width="200" src="http://www.storm.ie/_catalogs/masterpage/storm/images/logo-a.png">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="200" src="https://www.towerswatson.com/App_Themes/Default/Images/logo_tw.jpg">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img width="60" src="http://www.ot.ru/bitrix/templates/.default/markup/i/ot_logo.png">
                </div>*@
            </div>
        </div><!-- /End Wrapper -->
    </div><!-- /End Container -->
</section>
