<section class="newsletter color-bg" id="newsletter">
    <div class="container">
        <div class="wrapper-sm  wrapper-sm-x">
            <div class="row">
                <div class="col-md-6">
                    <div class="table">
                        <div class="table-row">
                            <div class="table-cell follow">
                                <h5 class="table-title">Let's talk!</h5>
                            </div>
                            <div class="table-cell">
                                <ul class="social-list">
                                    <li>
                                        <a href="https://twitter.com/subpointsocial" target="_blank">
                                            <i class="icon icon-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/SubPointSocial" target="_blank">
                                            <i class="icon icon-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/subpoint-solutions" target="_blank">
                                            <i class="icon icon-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.yammer.com/spmeta2feedback" target="_blank">
                                            <i class="icon icon-yammer"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" class="mailchimp-subscribe" role="form" novalidate="true">
                    <form method="POST"
                          action="//SubPointSolutions.us8.list-manage.com/subscribe/post?u=4a29d0caa435990142d568ad0&amp;id=8a3846c6a7" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">


                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell getnewsletter">
                                    <h5 class="table-title">Get the newsletter</h5>
                                </div>
                                <div class="table-cell">
                                    <div class="input-group text-white">
                                        <!-- Input Form -->
                                        <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Your email address" class="email form-control">
                                        <!-- Submit Button -->
                                        <span class="input-group-btn">
                                            <button class="btn btn-white">Subscribe</button>
                                        </span>
                                    </div><!-- /End Input Group -->
                                </div><!-- /End Table-Cell -->
                            </div><!-- /End Table-Row -->
                        </div><!-- /End Table -->
                        <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
                            <!-- Notifications -->
                            <p class="mc-success"></p>
                            <p class="mc-failed"></p>
                        </div>

                    </form>
                </div><!-- /End Col -->
            </div><!-- /End Row -->
        </div><!-- End Wrapper -->
    </div><!-- /End Container -->
</section>