<div class="container vmiddle earlyaccess">
    <div class="row">
        <div class="col-md-12">
            <div class="hero-section">
                <h1 class="text-white">Enhancing your SharePoint experience <br>with excellent APIs, products, and services</h1>
                <p class="text-white">so that you can focus on business-critical tasks</p>
            </div>
        </div>
    </div>
</div>