<section class="early-features" id="apis">
    <div class="container">
        <div class="wrapper-lg">
            <div class="row">
                <div class="col-xs-12">
                    <h2>M2 APIs ecosystem for SharePoint developers</h2>
                    <p class="large">Rock-solid APIs to speed up your custom SharePoint app development</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 feature-box">
                    <div class="icon-box">
                        <i class="icon icon-adjustments icon-sm"></i>
                    </div>
                    <h4>SPMeta2</h4>
                    <p class="description">
                        Enterprise-ready framework for provisioning SharePoint artifacts. Works seamlessly with O365, SharePoint 2016, 2013 and 2010.<br/><br />
                    </p>
                    <p>
                        <a href="/spmeta2">Explore SPMeta2 ></a> 
                    </p>
                </div>

                <div class="col-md-4 feature-box">
                    <div class="icon-box">
                        <i class="icon icon-adjustments icon-sm"></i>
                    </div>
                    <h4>SPMeta2 Reverse (beta)</h4>
                    <p class="description">
                        A library to reverse engineer existing SharePoint sites into highly portable, reusable SPMeta2 models.<br /><br />
                    </p>
                    <p>
                        <a href="https://github.com/SubPointSolutions/spmeta2-reverse">Explore SPMeta2 Reverse ></a>
                    </p>
                </div>

                <div class="col-md-4 feature-box">
                    <div class="icon-box">
                        <i class="icon icon-adjustments icon-sm"></i>
                    </div>
                    <h4>SPMeta2 NuGet (beta)</h4>
                    <p class="description">
                        Integrates SPMeta2 and NuGet Gallery enabling an easy packaging, versioning and deploying models from NuGet straight to SharePoint.<br /><br />
                    </p>
                    <p>
                        <a href="https://github.com/SubPointSolutions/metapack">Explore NuGet integration ></a>
                    </p>
                </div>

                <div class="col-md-4 feature-box">
                    <div class="icon-box">
                        <i class="icon icon-adjustments icon-sm"></i>
                    </div>
                    <h4>SPMeta2 VS Extensions</h4>
                    <p class="description">
                        Visual Studio extension that delivers useful snippets, project and item templates to bootstrap SPMeta2 based projects.<br /><br />
                    </p>
                    <p>
                        <a href="https://github.com/SubPointSolutions/spmeta2-vsixextensions">Explore Visual Studio extensions ></a>
                    </p>
                </div>


                <div class="col-md-4 feature-box">
                    <div class="icon-box">
                        <i class="icon icon-adjustments icon-sm"></i>
                    </div>
                    <h4>SPMeta2 Spec (beta)</h4>
                    <p class="description">
                        A library that generates nice looking technical documentation for provided SPMeta2 models.<br /><br />
                    </p>
                    <p>
                        <a href="https://github.com/SubPointSolutions/spmeta2-spec">Explore SPMeta2 specs ></a>
                    </p>
                </div>

                <div class="col-md-4 feature-box">
                    <div class="icon-box">
                        <i class="icon icon-adjustments icon-sm"></i>
                    </div>
                    <h4>reSP for ReSharper</h4>
                    <p class="description">
                        The only ReSharper plugin which understands SharePoint API helping to write SharePoint related code faster and better.<br /><br />
                    </p>
                    <p>
                        <a href="/resp">Explore reSP ></a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
