<section class="early-features " id="products">
    <div class="container">

        <div class="wrapper-lg">

            <div class="row">
                <div class="col-xs-12">
                    <h2>Ready-to-use suites for busy SharePoint professionals</h2>
                    <p class="large">Simplified authoring, delivery, and management for SharePoint IA, customizations, and apps</p>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4 feature-box">
                    <div class="icon-box">
                        <i class="icon icon-laptop icon-sm"></i>
                    </div>
                    <h4>MetaPack (beta)</h4>
                    <p class="description">
                        A NuGet based package manager for packaging, versioning, deploying and updating SPMeta2 models via C# API, a CLI and GUI.
                    </p>
                    <p>
                        <a href="/metapack">Explore MetaPack ></a>
                    </p>
                </div>

                <div class="col-md-4 feature-box">
                    <div class="icon-box">
                        <i class="icon icon-laptop icon-sm"></i>
                    </div>
                    <h4>MetaStudio (beta)</h4>
                    <p class="description">
                        A GUI tool for easy creation, deploying and sharing SharePoint IA, site templates, customizations and small Intranet solutions.
                    </p>
                    <p>
                        <a href="/metastudio">Explore MetaStudio ></a>
                    </p>
                </div>

                <div class="col-md-4 feature-box">
                    <div class="icon-box">
                        <i class="icon icon-laptop icon-sm"></i>
                    </div>
                    <h4>B2 Hub Suite</h4>
                    <p class="description">
                        A GUI tool to manage reusable IA. Helps to synchronise fields and content types across site collections, farms, and tenants.
                    </p>
                    <p>
                        @*<a href="/b2hubsuite">Explore B2 Hub Suite ></a>*@
                        <a href="#products" id="b2hubsuite" class="scrollto">* more info is coming Q3 2016</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
