<section class="early-testimonial light-bg" id="testimonials">
    <div class="container">
        <!-- Padding -->
        <div class="wrapper-lg">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!-- Section Header Title -->
                    <h2>Already helping hundreds companies</h2>
                    <p class="large">Don't just take our word for it. See what our customers say about us.</p>
                </div>
            </div><!-- /End Row -->

            <div class="row">
                <!-- Testimonial Box -->
                <div class="col-md-4">
                    <blockquote>
                        <!-- Testimonial Quote -->
                        <p class="testimonial-quote">SPMeta brings an end to the traditional mix of XML and code to deploy and upgrade SharePoint solutions. Coded models are straightforward, clean, testable and reusable, what's not to like?</p>
                        <!-- Author info -->
                        <div class="author-box">
                            <img width="100" src="http://subpointsolutions.com/wp-content/themes/sps-web/assert/img/companies/atos-icon.png" draggable="false">
                            <div class="testimonial-name">
                                <span>Jasper Siegmund</span>SharePoint Architect at Atos, Netherlands
                            </div>
                        </div>
                    </blockquote>
                </div><!-- /End Col -->
                <!-- Testimonial Box -->
                <div class="col-md-4">
                    <blockquote>
                        <!-- Testimonial Quote -->
                        <p class="testimonial-quote">We use SPMeta2 in our projects to provision SharePoint artifacts. The functionality of the framework is impressing, and we are going to use it in future. The company provides quick and responsive support. They have growing community and continually tracking feedback. It is important for such kind of product.</p>
                        <!-- Author info -->
                        <div class="author-box">

                            <img width="100" src="http://subpointsolutions.com/wp-content/themes/sps-web/assert/img/companies/plumsail-icon.png" draggable="false">
                            <div class="testimonial-name">
                                <span>Anton Khritonenkov</span> Co-Founder at Plumsail, Russia
                            </div>
                        </div>
                    </blockquote>
                </div><!-- /End Col -->
                <!-- Testimonial Box -->
                <div class="col-md-4">
                    <blockquote>
                        <!-- Testimonial Quote -->
                        <p class="testimonial-quote">I started using SPMeta2 at its very first stage and always saw a high potential for provision SharePoint artifacts via code. SPMeta2 provides a repetitive and consistent way to set up a data schema for any SharePoint environment.</p>
                        <!-- Author info -->
                        <div class="author-box">
                            <img width="200" src="http://subpointsolutions.com/wp-content/themes/sps-web/assert/img/companies/ignia-icon.png" draggable="false">
                            <div class="testimonial-name">
                                <span>Marat Bakirov</span> Senior SharePoint Consultant at Ignia, Australia
                            </div>
                        </div>
                    </blockquote>
                </div><!-- /End Col -->

            </div><!-- /End Row -->

        </div><!-- /End Wrapper -->
    </div><!-- /End Container -->
</section>
