<footer class="footer dark-bg" id="footer">
    <div class="container">
        <div class="wrapper-lg">
            <div class="row">
                <!-- Footer Left Col -->
                <div class="col-md-4">
                    <!-- Logo -->


                    <h5 class="text-white">
                        <img src="/Content/img/subpoint-logo-25.png" alt="Logo">
                        SubPoint Solutions
                    </h5>

                    <p class="footer-hero">
                        Enhancing your SharePoint experience with excellent APIs, products, and services so that you can focus on business-critical tasks.
                        Recognized and trusted since 2013.
                    </p>
                </div>
                <!-- Footer Contact Col -->
                <div class="col-md-4">
                    <h5 class="text-white">Our Contacts</h5>
                    <div class="contact-item">
                        <div class="contact-content">
                            Email:<br />
                            <a style="font-size: 14px;" href="mailto:support@subpointsolutions.com">support@subpointsolutions.com</a>
                        </div>

                        <div class="contact-content">
                            Yammer Network:<br />
                            <a style="font-size: 14px;" href="https://www.yammer.com/spmeta2feedback">https://www.yammer.com/spmeta2feedback</a>
                        </div>


                    </div>
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="icon icon_pin"></i>
                        </div>
                        <div class="contact-content">
                            Sydney, NSW 2000 Australia
                        </div>
                    </div>
                </div>
                <!-- Footer Right Col: Twitter Feed -->
                <div class="col-md-4">
                    <h5 class="text-white">Recent Tweets</h5>

                    <div class="tweet" id="twitter-cnt">

                    </div>
                </div>

                <!-- Footer Menu and Copy -->
               
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="footer-nav">
                        <li>
                            <a href="/company">Company</a>
                        </li>
                        @*<li>
                        <a href="http://blog.subpointsolutions.com">Blog</a>
                    </li>*@
                        <li>
                            <a href="/terms">Terms Of Use</a>
                        </li>
                        <li>
                            <a href="/privacy">Privacy Policy</a>
                        </li>
                    </ul>
                    <p class="footer-copy">

                        Copyright &copy; <a hre="http://subpointsolutions.com" target="_blank">SubPoint Solutions</a> @DateTime.Now.Year. 
                        Built with care, <a href="http://wyam.io">Wyam</a> and <a href="https://www.netlify.com/">Netlify</a>. Last updated [[ci-date]].
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>