
@{

    var categoryTagName = "Category";
    var allSamples = SConfig.AllSamples.Where(s => s.IsMethod).ToList();

    var allCategories = new List<string>();

    allCategories.Add("Farm Model/Farm");
    allCategories.Add("Web Application Model");
    allCategories.Add("Site Collection Model");
    allCategories.Add("Web Model");

    var samplesWithCategories = SubPointSolutions.DocsBuildTools.Data.SampleReadAPI.GetSamplesWithTag(allSamples, categoryTagName);


    var sampleCategories = allCategories
                             .ToList();

    var categoryHeight = 80;
    var categoryItemHeight = 18;

    var categoryRowsCount = 3;

    var totalCategoriesHeight = sampleCategories.Count() * categoryHeight;
    var totalLinksHeight = 0;

    foreach (var sampleGroupName in sampleCategories)
    {
        var samples = samplesWithCategories.Where(s => s.Tags.First(t => t.Name == categoryTagName).Values.Contains(sampleGroupName));

        totalLinksHeight += samples.Count() * categoryItemHeight;
    }

    var totalHeight = totalCategoriesHeight + totalLinksHeight;
    var rowHeight = totalHeight / categoryRowsCount;

    var currentRowHeight = 0;
}

<div class="m-sample-list-cnt">
    @{

        foreach (var sampleGroupName in sampleCategories)
        {
            dynamic categoryModel = new System.Dynamic.ExpandoObject();

            categoryModel.Samples = SubPointSolutions.DocsBuildTools.Data.SampleReadAPI.GetSamplesWithTag(allSamples, categoryTagName, sampleGroupName);
            categoryModel.CategoryName = sampleGroupName;

            ViewBag.SamplesModel = categoryModel;

            @Html.Partial(SConfig.GetThemedTemplate("Components/_SampleListCategory.cshtml"));
        }
    }

</div>
