
<meta charset="utf-8">
<title>@(ViewBag.Title ?? (Model.Get("Title") ?? "SubPoint Solutions") )</title>
<meta name="description" content="We enhance your SharePoint experience with excellent APIs, products, and services" />
<meta name="keywords" content="SharePoint, SharePoint Online, SPMeta2, MetaPack, MetaStudio, provision, sp2013, sp2016, o365" />
<meta name="author" content="SubPoint Solutions">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- FAVICON -->
<link rel="icon" href="/content/img/favicon/favicon.ico">

<link rel="stylesheet" href="/Content/bootstrap.min.css">
<link rel="stylesheet" href="/Content/icons/icons.min.css">
<link href="http://fonts.googleapis.com/css?family=Raleway:300,400,600,700%7COpen+Sans:300,400,600,700%7CHandlee" rel="stylesheet">

<link rel="stylesheet" href="/Content/style.css">
<link rel="stylesheet" href="/Content/responsive.css">
<link rel="stylesheet" href="/Content/colors/red.css" title="red">
<link rel="stylesheet" href="/Content/sps.web.css">

<link href="/content/syntaxhighlighter/shcore.css" rel="stylesheet">
<link href="/content/syntaxhighlighter/shcoredefault.css" rel="stylesheet">

<!--[if lt IE 9]>
    <script src="assets/js/plugins/html5shiv.min.js"></script>
    <script src="assets/js/plugins/respond.min.js"></script>
<![endif]-->
