@{
    var isLandingPage = Model.String("RelativeFilePath").ToLower() == "index.cshtml";
}

<nav class="navbar navbar-fixed-top is-scrolling" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <i class="icon icon_menu"></i>
                    </button>

                    @{
                        if (isLandingPage)
                        {
                            <a href="/#top" class="navbar-brand scrollto" title="SmartMvp">
                                <img src="/Content/img/subpoint-logo-25.png" alt="Logo">
                                <span class="text-logo">SubPoint Solutions</span>
                            </a>
                        }
                        else
                        {
                            <a href="/" class="navbar-brand " title="SmartMvp">
                                <img src="/Content/img/subpoint-logo-25.png" alt="Logo">
                                <span class="text-logo">SubPoint Solutions</span>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</nav>