@{
    Layout = SConfig.GetThemedTemplate("Layouts/_Main.Master.cshtml");
}

<header class="header header-content" id="top" data-stellar-background-ratio="0.5">
    @{
        try
        {
            @Html.Partial(SConfig.GetThemedTemplate("Components/_Override.TopNavigation.cshtml"));
        }
        catch
        {
            @Html.Partial(SConfig.GetThemedTemplate("Components/_Main.TopNavigation.cshtml"));
        }
    }

</header>

<div class="container sd-body-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 sps-landing-description">
            @RenderBody()
        </div>
    </div>
    <div class="row sps-landing-projects">
        @Html.Partial(SConfig.GetThemedTemplate("Components/_Docs.LandingProjectsList.cshtml"))
    </div>
</div>


