.container {
    max-width: 1070px;
}

.sd-sidebar {
    margin-top: 10px;
}

.sd-sidebar-group-cnt span, .sd-sidebar-group-cnt span a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
}

    .sd-sidebar-group-cnt span a {
        padding-left: 0;
        color: rgb(51, 51, 51);
    }


.sd-sidebar ul a {
    color: #666;
    font-size: 13px;
}

.sd-sidebar > ul > li > a {
    padding: 0 0 0 10px;
}

.sd-sidebar li.active > a {
    font-weight: bold;
}



.sd-sidebar ul {
    border-bottom: 1px #dedede solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.sps-document-header-cnt h3 {
    margin-top: 0 !important;
}

.sps-document-header-cnt {
    border-bottom: 1px #dedede solid;
}


.sps-document-header-editor {
    background-color: #f5f5f5;
    padding-left: 10px;
    padding-right: 10px;
}

    .sps-document-header-editor a {
        color: rgb(66, 139, 202);
        font-size: 13px;
        margin-top: 15px;
    }



.sps-sidebar {
}

.sps-document {
}

.sps-secondnav, .sps-secondnav .sub-nav {
    height: 60px;
}

    .sps-secondnav .sub-nav ul {
        text-align: center;
        padding-left: 0;
    }


.sd-sidebar ul a, .sd-sidebar-group-cnt a {
    color: #666;
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
    padding: 0 0 0 10px;
}


.sd-body-content {
    margin-top: 20px;
    margin-bottom: 10px;
}

.sub-nav li .active {
    font-weight: bold;
}

.m-sample-list-cnt .table {
    font-size: 12px;
}

    .m-sample-list-cnt .table th {
        background-color: #f7f4f4;
    }

.m-sample-list-cnt .btn {
    padding: 6px 6px 8px 6px;
}

.m-sample-list-cnt .hiddenRow,
.m-sample-list-cnt .hiddenRow > .docs-source-cnt {
    padding: 0 !important;
    border: 0 !important;
    margin: 0;
}

.m-sample-list-cnt .docs-source-cnt {
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0;
}

    .m-sample-list-cnt .docs-source-cnt pre {
        border: 0;
    }

.m-sample-list-cnt .docs-source-tool-panel-cnt {
    background-color: #f7f4f4;
    width: 100%;
    height: 38px;
    border-bottom: 1px #dedede solid;
}

.m-sample-list-cnt a {
    color: #0072c6;
    font-weight: bold;
}


.m-sample-list-cnt .docs-source-tool-subpanel-cnt {
    padding: 10px;
    background-color: #f7f4f4;
}

    .m-sample-list-cnt .docs-source-tool-subpanel-cnt a {
        color: #0072c6;
        font-weight: bold;
    }



.tool-api-cnt {
    background-color: #dedede;
    padding-left: 5px;
    padding-bottom: 2px;
}

.tool-api-label {
    font-size: 12px;
    font-weight: 600;
}

.api-page-header-cnt {
    margin-bottom: 10px;
    padding-bottom: 0;
    border-bottom: 1px #dedede solid;
}

.example-toc-links-cnt a {
    color: #0072c6;
    font-weight: bold;
    font-size: 13px;
}


.tool-box {
    margin: 0;
    margin-bottom: 10px;
}

    .tool-box a {
        color: #0072c6;
    }

    .tool-box .tile-title-cnt a {
        color: #0366d6;
        font-weight: 600;
        font-size: 15px;
    }

    .tool-box .tile-links-cnt td {
        vertical-align: top;
    }

    .tool-box .tile-links-cnt ul {
        padding-left: 20px;
        font-size: 14px;
        list-style-type: disc;
    }

        .tool-box .tile-links-cnt ul a {
            font-size: 13px;
        }

    .tool-box .tile-cnt {
        padding: 10px;
        border: 1px #dedede solid;
        margin: 0;
    }

        .tool-box .tile-cnt .tile-description-cnt,
        .tool-box .tile-cnt .tile-description-cnt p {
            font-size: 13px;
            line-height: 17px;
            margin-bottom: 5px;
        }

        .tool-box .tile-cnt .tile-links-cnt table {
            width: 100%;
        }

.tool-family-cnt {
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px #dedede solid;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.tile-tools-cnt {
    height: 20px;
    border-top: 1px #dedede solid;
    padding-top: 7px;
    margin-bottom: 5px;
}

.tool-box-row {
    margin-bottom: 10px;
}

.sps-landing-description {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 14px;
}

.sub-nav ul li a {
    text-transform: uppercase;
    font-size: 20px;
}

.sd {
}
