@{
    Layout = SConfig.GetThemedTemplate("Layouts/_Master.cshtml");
}

@Html.Partial(SConfig.GetThemedTemplate("Components/_TopNavigation.cshtml"))

<main class="container">
    <div class="row">

        <article class="col-md-12 main-content" role="main">
            @RenderBody()
            <hr/>
            @Html.Partial(SConfig.GetThemedTemplate("Components/_LandingProjectsList.cshtml"))
        </article>

    </div>
</main>

@Html.Partial(SConfig.GetThemedTemplate("Components/_Footer.cshtml"))
