<!doctype html>
<html lang="en">
<head>    
    <meta charset="utf-8">
    <!-- TITLE OF SITE -->
    <title>@(ViewBag.Title ?? "SubPoint Solutions")</title>
    <meta name="description" content="We enhance your SharePoint experience with excellent APIs, products, and services" />
    <meta name="keywords" content="SharePoint, SharePoint Online, SPMeta2, MetaPack, MetaStudio, provision, sp2013, sp2016, o365" />
    <meta name="author" content="SubPoint Solutions">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- FAVICON -->
    <link rel="icon" href="/content/img/favicon/favicon.ico">

    <link rel="stylesheet" href="/Content/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/icons/icons.min.css">
    <link href="http://fonts.googleapis.com/css?family=Raleway:300,400,600,700%7COpen+Sans:300,400,600,700%7CHandlee" rel="stylesheet">

    <link rel="stylesheet" href="/Content/style.css">
    <link rel="stylesheet" href="/Content/responsive.css">
    <link rel="stylesheet" href="/Content/colors/red.css" title="red">
    <link rel="stylesheet" href="/Content/sps.web.css">

    <link href="/content/SyntaxHighlighter/shCore.css" rel="stylesheet" />
    <link href="/content/SyntaxHighlighter/shCoreDefault.css" rel="stylesheet" />

    <link href="/content/sps.docs.css" rel="stylesheet" />
    <link href="/content/sps.docs.new.css" rel="stylesheet" />
    
    <!--[if lt IE 9]>
        <script src="assets/js/plugins/html5shiv.min.js"></script>
        <script src="assets/js/plugins/respond.min.js"></script>
    <![endif]-->
</head>

<style>
    .header .overlay {
        height: 500px;
    }

    .company-stat {
        text-align: center;
    }

        .company-stat h4 {
            font-weight: bold;
            color: white;
        }

        .company-stat div.number {
            color: white;
            font-weight: bold;
            font-style: normal;
            font-size: 60px;
        }

        .company-stat div.fact {
            margin-top: 10px;
            color: white;
            font-weight: bold;
            font-style: normal;
            font-size: 23px;
        }

    .wrapper-sm-x {
        padding-top: 25px;
        padding-bottom: 10px;
    }

    .header-landing .vmiddle {
        top: 55%;
    }

    .client-logo img {
        max-height: 60px;
        max-width: 140px;
        opacity: 1;
    }

    .client-logo p {
        margin-bottom: 0px;
    }

    .feature-box .description {
        height: 100px;
    }

    p.tweet a {
        color: #c0392b !important;
    }

    .tweet li span {
        font-style: normal !important;
        font-size: 15px;
    }

    p.interact {
        display: none !important;
    }

    pre  {
        background-color:#ffffff;
    }

    .footer-nav {
        margin-top: 0px !important;
    }

</style>

<body>
    <div class="main-wrapper">

        @RenderBody()

        @Html.Partial(SConfig.GetThemedTemplate("Components/_Footer.cshtml"))

    </div>

    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/bootstrap.js"></script>

    <script src="/scripts/SyntaxHighlighter/shCore.js"></script>
    <script src="/scripts/SyntaxHighlighter/shBrushCSharp.js"></script>
    <script src="/scripts/SyntaxHighlighter/shBrushXml.js"></script>
    <script src="/scripts/SyntaxHighlighter/shBrushJScript.js"></script>
    <script src="/scripts/syntaxhighlighter/shBrushPowerShell.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>


    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/default.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/vs.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/languages/cs.min.js"></script>

        <script>

            jQuery(document).ready(function () {
                jQuery('pre code.language-cs').each(function (i, block) {
                    hljs.highlightBlock(block);
                });
            });

        </script>*@

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCoreEclipse.css">*@


    <script>

        (function ($) {

            $(document).ready(function () {

                $('code.language-cs')
                    .addClass('brush: csharp;');

                $('code.language-xml')
                    .addClass('brush: xml;');

                $('code.language-js')
                    .addClass('brush: js;');
                    
                $('code.language-ps')
                       .addClass('brush: ps;');

                SyntaxHighlighter.defaults['quick-code'] = false;
                SyntaxHighlighter.config.tagName = 'code';
                SyntaxHighlighter.all();
            });

            $(document).ready(function () {
                $("body").bind("keydown", function (event) {

                    console.log(event);

                    if (event.ctrlKey && event.keyCode == 37) {

                        if ($('a.m-btn-prev').size() > 0) {
                            var href = $('a.m-btn-prev').attr('href');

                            window.location.href = href;
                        }
                    }

                    if (event.ctrlKey && event.keyCode == 39) {
                        if ($('a.m-btn-next').size() > 0) {
                            var href = $('a.m-btn-next').attr('href');

                            window.location.href = href;
                        }
                    }
                });
            });

        }(jQuery));

    </script>
</body>
</html>
