
body {
    color: #333;
}

b, strong {
    font-weight: bold;
}

/* correct logo */
.navbar-header img, .footer img {
    background: none !important;
    background-color: none !important;
    border: none !important;
}

/* content area fixes 
- headers
- lists
*/

.sps-document {
    padding-top: 10px;
}

    .sps-document h1 {
        text-align: left;
        font-size: 36px;
        font-weight: 600;
    }

    .sps-document h2 {
        text-align: left;
        font-size: 30px;
        padding-bottom: 3px;
        border-bottom: 1px solid #e0e0e0;
        font-weight: 600;
        padding-top: 10px;
    }

    .sps-document h3 {
        text-align: left;
        font-size: 24px;
        font-weight: 600;
        margin-top: 20px !important;
    }

    .sps-document h4 {
        text-align: left;
        font-size: 22px;
        font-weight: 600;
        margin-top: 10px !important;
    }

    .sps-document ul {
        padding-left: 30px;
        list-style: circle;
    }

.m-landing-project-cnt .panel {
    
}

.m-landing-project-cnt .panel-body {
    padding: 15px;
    background-color: #fcfcfc;
    min-height: 280px;
}
