@{
    Layout = SConfig.GetThemedTemplate("Layouts/_Master.cshtml");
}

@Html.Partial(SConfig.GetThemedTemplate("Components/_TopNavigation.cshtml"))

@Html.Partial(SConfig.GetThemedTemplate("Components/_Sidebar.cshtml"))


<main class="container-fluid">
    <div class="row">

        <!-- Main content -->
        <article class="main-content" role="main">
            @RenderBody()
        </article>
        <!-- Footer -->
        @Html.Partial(SConfig.GetThemedTemplate("Components/_Footer.cshtml"))
        <!-- END Footer -->

    </div>
</main>